body {
  /*background-color: #2C3E50;*/
  background-color: #F4B350;
  color: #282830;
  font-family: 'Abel', sans-serif;
}


.padding {
  height: 40px;
}


.text-muted {
  color: #aaa;
}

a, a:hover, a:active, a:visited {
  color: #2C3E50;
  text-decoration: none;
}
a.link-flag, a.link-flag:active, a.link-flag:visited {
  color: #ddd;
}
a.link-flag:hover, a.link-flag:hover .hide-til-hover {
  color: #ef4836;
}
a.link-flag .hide-til-hover {
  color: transparent;
}


.recipe {
  background-image: url("/static/bg-paper.png");
  font-size: 140%;
}
.recipe h1, p {
  font-family: 'Permanent Marker', cursive;
}
.recipe p {
    margin: 0 0 4px;
}
