body {
  background-color: #f2f2f2;
  color: #282830;
  font-family: 'Open Sans', sans-serif;
}


.padding {
  height: 40px;
}


.text-muted {
  color: #aaa;
}
.marker {
  font-family: 'Permanent Marker', cursive;
}

a, a:hover, a:active, a:visited {
  color: #2C3E50;
  text-decoration: none;
}
a.link-flag, a.link-flag:active, a.link-flag:visited {
  color: #ddd;
}
a.link-flag:hover, a.link-flag:hover .hide-til-hover {
  color: #ef4836;
}
a.link-flag .hide-til-hover {
  color: transparent;
}


.recipe {
  background-image: url("/static/bg-paper.png");
  font-size: 120%;
}
.recipe h1, p {
  font-family: 'Imprima', sans-serif;
}
.recipe p {
    margin: 0 0 4px;
}


.btn-success {
  background-color: #91B496;
  color: #282830;
  border: none;
  border-radius: 0px;
}
.btn-success:hover, .btn-success:active {
  background-color: #7da683;
  color: #282830;
}
