{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="padding"></div>
      <h1>share your family recipe with others!</h1>

      <br/>

      <form action="{{ url_for('contribute') }}" method="post">
        <div class="recipe">
          <div class="padding"></div>
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <div class="form-group">
                <label for="recipe-title">recipe title</label>
                <input type="text" class="form-control" name="title" id="recipe-title" placeholder="your recipe">
              </div>
              <div class="form-group">
                <label for="recipe-text">recipe</label>
                <textarea type="text" class="form-control" name="text" id="recipe-text" placeholder="write the recipe here or include a link. feel free to add personal notes or context!"></textarea>
              </div>
              <div class="form-group">
                <label for="first-name">your first name</label>
                <input type="text" class="form-control" name="first_name" id="first-name" placeholder="(optional)">
              </div>
            </div>
          </div>
          <div class="padding"></div>
        </div>
        <br/>
        <input class="btn btn-lg btn-success pull-right" type="submit" value="submit">
      </form>

    </div>
  </div>
</div>
{% endblock %}
