{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="padding"></div>
      <div class="row">
        <h1>
          <span class="marker">Favorite Family Foods</span>

          <a href="{{ url_for('contribute') }}" class="btn btn-success btn-lg pull-right">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            add yours
          </a>
        </h1>
      </div>
      <div class="padding"></div>

      <div class="row recipe">
        <div class="col-sm-10 col-sm-offset-1">
          <div class="padding"></div>
          {% if random_suggestion %}
            <p class="text-muted">
              <i class="fa fa-heart-o" aria-hidden="true"></i>
              {% if random_suggestion.first_name %}
                here's a random family recipe from <strong>{{random_suggestion.first_name }}</strong>
              {% else %}
                here's a random family recipe, submitted anonymously
              {% endif %}
              <i class="fa fa-heart-o" aria-hidden="true"></i>
            </p>
            <h1>{{random_suggestion.title }}</h1>
            <br/>
            <p>{{random_suggestion.text|url2link|nl2br}}</p>

            <br/><br/>
            {% if not is_permalink %}
            <a href="{{ url_for('recipe', suggestion_id=random_suggestion.id) }}" class="link-permalink small" title="go to permalink">
              <i class="fa fa-link" aria-hidden="true"></i>
            </a> &nbsp;&nbsp;
            {% endif %}
            <a href="{{ url_for('flag', suggestion_id=random_suggestion.id) }}" class="link-flag small">
              <i class="fa fa-flag" aria-hidden="true"></i> <span class="hide-til-hover">flag as inappropriate</span>
            </a>
          {% else %}
            <h1>
              recipe not found <i class="fa fa-frown-o" aria-hidden="true"></i>
            </h1>
            <div class="padding"></div>
            <a class="btn btn-default" href="/">
              <i class="fa fa-home" aria-hidden="true"></i>
              back to homepage
            </a>
          {% endif %}
          <br/><br/>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
