{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="padding"></div>
      <div class="row">
        <a href="{{ url_for('contribute') }}" class="btn btn-success pull-right">
          <i class="fa fa-plus" aria-hidden="true"></i>
          ADD YOUR RECIPE
        </a>
      </div>
      <div class="padding"></div>
      <div class="row recipe">
        <div class="col-sm-10 col-sm-offset-1">
          <div class="padding"></div>
          {% if random_suggestion %}
            <p class="text-muted">
              {% if random_suggestion.first_name %}
                here's a suggestion from <strong>{{random_suggestion.first_name}}</strong>:
              {% else %}
                an anonymous suggestion:
              {% endif %}
            </p>
            <h1>{{random_suggestion.title}}</h1>
            <br/>
            <p>{{random_suggestion.text|url2link|nl2br}}</p>

            <br/><br/>
            {% if not is_permalink %}
            <a href="{{ url_for('recipe', suggestion_id=random_suggestion.id) }}" class="link-permalink small">
              <i class="fa fa-link" aria-hidden="true"></i> permalink
            </a> &nbsp;&nbsp;
            {% endif %}
            <a href="{{ url_for('flag', suggestion_id=random_suggestion.id) }}" class="link-flag small">
              <i class="fa fa-flag" aria-hidden="true"></i> <span class="hide-til-hover">flag as inappropriate</span>
            </a>
          {% else %}
            <h1>
              recipe not found <i class="fa fa-frown-o" aria-hidden="true"></i>
            </h1>
            <div class="padding"></div>
            <a class="btn btn-default" href="/">
              <i class="fa fa-home" aria-hidden="true"></i>
              back to homepage
            </a>
          {% endif %}
          <br/><br/>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
