{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>review queue</h1>
      <table class="table table-condensed small">
        <thead>
          <tr><th>Suggestion</th><th class="col-xs-3"></th></tr>
        </thead>
        <tbody>
          {% for suggestion in review_queue %}
          <tr>
            <td>
              <a href="{{ url_for('reviewrecipe', suggestion_id=suggestion.id) }}">
                {{ suggestion.title }}
              </a>
            </td>
            <td class="text-right">
              <div class="btn-group" role="group">
                <a class="btn btn-success btn-sm" href="{{ url_for('approve', suggestion_id=suggestion.id) }}">
                  <i class="fa fa-fw fa-check"></i>
                </a>
                <a class="btn btn-danger btn-sm" href="{{ url_for('disapprove', suggestion_id=suggestion.id) }}">
                  <i class="fa fa-fw fa-times"></i>
                </a>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <a href="{{ url_for('reviewtrash') }}" class="btn btn-default">
        <i class="fa fa-trash" aria-hidden="true"></i>
        view disapproved
      </a>

    </div>
  </div>
</div>
{% endblock %}
